<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MediToScan Alert</title>
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">-->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

      :root {
        --primary-color:#3B6530;
        --primary-color-dark: #008000;    
        --button-color: #008000;
        --button-color-shadow: #5433FF30;
        --text-color: white;
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: relative;
        font-family: Mulish;
      }

      main {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      nav {
        position: sticky;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: var(--primary-color);
        width: 18rem;
        padding: 1.8rem 0.85rem;
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        transition: width 0.5s ease-in-out;
      }

      .sidebar-top {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 32px;
      }

      .sidebar-top .logo {
        position: relative;
        width: 54px;
        margin-right: 1.45rem;
        left: -1px;
      }

      .sidebar-top h2 {
        padding-left: 0.5rem;
        font-weight: 600;
        font-size: 1.4rem;
      }

      .expand-btn {
        position: absolute;
        top: 50%;
        width: 45px;
        height: 45px;
        display: grid;
        place-items: center;
        background-color: var(--button-color);
        border-radius: 6px;
        cursor: pointer;
        box-shadow: 0 3px 10px -3px var(--button-color-shadow);
        right: -3rem;
        transform: translateY(-50%) translateX(-8px);
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
      }

      nav:hover .expand-btn,
      .expand-btn.hovered {
        transform: translateY(-50%) translateX(0px);
        opacity: 1;
        pointer-events: all;
      }

      .sidebar-links ul {
        list-style-type: none;
        position: relative;
      
      }

      .sidebar-links li {
        position: relative;
      }

      .sidebar-links li a {
        padding: 12px;
        color: var(--text-color);
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        height: 56px;
        text-decoration: none;
        color: #fff;
      }

      .icon {
        display: flex;
        align-items: center;
      }

      .icon img {
        width: 26px;
        height: 26px;
        margin: auto;
      }

      .sidebar-links .link {
        margin-left: 40px;
      }

      .sidebar-links .active {
        width: 100%;
        text-decoration: none;
        background-color: var(--primary-color-dark);
        transition: all 100ms ease-in;
        border-radius: 10px;
      }

      body.collapsed nav {
        width: 80px;
      }

      body.collapsed .hide {
        opacity: 0;
        pointer-events: none;
        transition-delay: 0s;
      }

      body.collapsed .expand-btn img {
        transform: rotate(-180deg);
      }

      .container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        z-index: 1; /* Ensure it's above the rest of the content */
      }

      h3{
        color: black;
      }

      /*Container */
      .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: #BC1823 ;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #BC1823;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #BC1823;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.container{
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;

}
.card {
 width: 1150px;
 height: 254px;
 border-radius: 25px;
 background: #e0e0e0;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}
.card label{
  padding: 3px;
  font-size: 14px;
  font-weight: 600;
  width: 300px;
  margin-left: 150px;
}
.patientinfo{
  margin-top: 25px;
  margin-left: 25px;
}
.medinfo{
  margin-top: 25px;
  margin-left: 25px;
}
.contactinfo{
  margin-top: 25px;
  margin-left: 25px;
}
.title{
  margin-top: 25px;
  margin-left: 25px;
}

p{
  color:#FF0000;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
    </style>
  </head>
  <body>
    <!-- SIDE NAVIGATION -->
    <nav>
      <!-- LOGO -->
      <div class="sidebar-top">
        <span class="expand-btn">
          <img src="img/arrow-left.svg" alt="MTS">
        </span>
        <img class="logo" src="img/logo2.svg" alt="MTS Logo">
        <h1 class="hide">MediToScan</h1>
      </div>

      <!-- SIDE LINKS -->
      <div class="sidebar-links">
        <ul>
          <li>
            <!-- HOME LINK -->
            <a href="#home" class="active" title="Home link">
              <div class="icon">
                <img src="img/home.svg" title="Home Icon">
                <span class="link hide">Home</span>
              </div>
            </a>
          </li>

          <!-- ANALYTICS LINK -->
          <li>
            <a href="#analytics" title="Analytics link">
              <div class="icon">
                  <img src="img/map-pin.svg" title="Maps Icon">
              </div>
              <span class="link hide">Maps</span>
            </a>
          </li>

          <!-- REPORT LINK -->
          <li>
            <a href="#reports" title="Reports Link">
              <div class="icon">
                  <img src="img/flag.svg" title="Reports Icon">
              </div>
              <span class="link hide">Reports</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="card">
      <p class="title">Patient Information</p>
      <div class="patientinfo">
       <p>Personal Information</p>
          <label>First Name</label>
          <label>Middle Name</label>
          <label>Last Name</label>
          <label>Age</label>
      </div>
      <div class="medinfo">
        <p>Medical Related Info</p>
          <label>Medical Conditions</label>
          <label>Medications</label>
          <label>Blood Type</label>
      </div>
      <div class="contactinfo">
        <p>Emergency Contacts</p>
          <label>Name</label>
          <label>Relationship</label>
          <label>Contact</label>
      </div>





    </div>
    </div>

    
    <script>
      const expand_btn = document.querySelector(".expand-btn");
      let activeIndex;
      
      expand_btn.addEventListener("click", () => {
        document.body.classList.toggle("collapsed");
      });
      
      const current = window.location.href;
      const allLinks = document.querySelectorAll(".sidebar-links a")
      
      allLinks.forEach((elem) => {
        elem.addEventListener('click', function() {
          const hrefLinkClick = elem.href;
      
          allLinks.forEach((link) => {
            if (link.href == hrefLinkClick){
              link.classList.add("active");
            } else {
              link.classList.remove('active');
            }
          });
        })
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  </body>
</html>